
.page_404{
    padding:40px 0;
    background:#fff;
    font-family: 'Arvo', serif;
}

.page_404 img{
    width:100%;
}

.four_zero_four_bg{
    background-image: url(../../img/error_image_404.gif);
    height: 400px;
    width: 100%;
    background-position: center;
}
 
 
.four_zero_four_bg h1{
    font-size:80px;
}
 
.four_zero_four_bg h3{
    font-size:80px;
}
             
.link_404{          
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
    
.content_box_404{
    margin-top:-50px;
}

.source_code{
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 14px;
    color: red;
}