<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Add CurvePoint</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/curvePoint/validate}"
              th:object="${curvePoint}"
              method="post" class="form-horizontal" style="width: 100%">

            <div class="form-group">
                <label for="curveId" class="col-sm-2 control-label">Curve Id:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{curveId}"
                           class="form-control mb-4 col-4" placeholder="Curve Id" id="curveId">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="term" class="col-sm-2 control-label">Term:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{term}"
                           class="form-control mb-4 col-4" placeholder="Term" id="term">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">Value:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{value}"
                           class="form-control mb-4 col-4" placeholder="Value" id="value">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-info col-2">Save</button>
                    <a class="btn btn-danger col-2" th:href="@{/curvePoint/list}"
                       role="button"
                       th:onclick="if (!(confirm('Cancel ?'))) return false">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>