<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Update CurvePoint</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h2 class="text-warning">Update CurvePoint</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.curvePointId})}"
              th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">

            <input type="hidden" th:field="*{curvePointId}">
            <div class="form-group">
                <label for="curveId" class="col-sm-2 control-label">Curve Id:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{curveId}"
                           class="form-control mb-4 col-4" placeholder="Curve Id" id="curveId">
                </div>
                <div class="col-sm-10 mt-1">
                    <p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="asOfDate" class="col-sm-2 control-label">As Of Date:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{asOfDate}" placeholder="As of Date"
                           class="form-control mb-4 col-4"
                           value="2020-12-16 17:06:13"
                           min="2020-11-17T00:00" max="2099-12-31T23:59" id="asOfDate">
                </div>
            </div>

            <div class="form-group">
                <label for="term" class="col-sm-2 control-label">Term:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{term}"
                           class="form-control mb-4 col-4" placeholder="Term" id="term">
                </div>
                <div class="col-sm-10 mt-1">
                    <p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">Value:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{value}"
                           class="form-control mb-4 col-4" placeholder="Value" id="value">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
                </div>
            </div>
            <input type="hidden" th:field="*{creationDate}">

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-info col-2">Save</button>

                    <a class="btn btn-danger col-2" th:href="@{/bidList/list}"
                       role="button"
                       th:onclick="if (!(confirm('Cancel ?'))) return false">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>