<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>User management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/home_style.css}" href="../../static/css/home_style.css">
</head>
<body>
<div class="container">
    <br>
    <div class="row p-2 text-light login_page">
        <div class="col-6 mt-2">
            <a href="/" role="button" class="btn btn-primary text-left">Home</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]]</b>
            <form th:action="@{/logout}" method="POST">
                <input class="btn btn-warning" type="submit" value="Logout" role="button"/>
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="row"><h2>User List</h2></div>
    <br>
    <div class="row">
        <a href="/user/add" class="btn btn-primary btn-lg">Add New</a>
        <table class="table table-bordered">
            <thead class="login_page">
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td style="width: 10%" th:text="${user.id}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.username}"></td>
                <td style="width: 25%" th:text="${user.role}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/user/update/(id=${user.id})}"
                       class="btn btn-info btn-sm">
                        Edit
                    </a>

                    <a th:href="@{/user/delete(id=${user.id})}"
                       class="btn btn-danger btn-sm"
                       th:onclick="if (!(confirm('Cancel ?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>