<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Update RuleName</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <h2 class="text-warning">Update Rule Name</h2>
            </div>

            <div class="row">
                <form action="#" th:action="@{/ruleName/update/{id}(id=${ruleName.id})}"
                      th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">

                    <input type="hidden" th:field="*{id}">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{name}"
                                   class="form-control mb-4 col-4" placeholder="Name" id="name">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{description}"
                                   class="form-control mb-4 col-4" placeholder="Description" id="description">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="json" class="col-sm-2 control-label">Json</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{json}"
                                   class="form-control mb-4 col-4" placeholder="Json" id="json">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('json')}" th:errors="*{json}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="template" class="col-sm-2 control-label">Template:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{template}"
                                   class="form-control mb-4 col-4" placeholder="Template" id="template">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('template')}" th:errors="*{template}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sqlStr" class="col-sm-2 control-label">Sql Str:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{sqlStr}"
                                   class="form-control mb-4 col-4" placeholder="SQL Str" id="sqlStr">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('sqlStr')}" th:errors="*{sqlStr}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sqlPart" class="col-sm-2 control-label">Sql Part:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{sqlPart}"
                                   class="form-control mb-4 col-4" placeholder="SQL Part" id="sqlPart">
                        </div>
                        <div class="col-sm-10 mt-2">
                            <p class="text-danger" th:if="${#fields.hasErrors('sqlPart')}" th:errors="*{sqlPart}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info col-2">Save</button>

                            <a class="btn btn-danger col-2" th:href="@{/ruleName/list}"
                               role="button"
                               th:onclick="if (!(confirm('Cancel ?'))) return false">
                                Cancel
                            </a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </body>
</html>