.home_bg{
    background-image: url(../img/poseidon.png);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.div_position {
    position: relative;
    height: 60px;
    border-radius: 10px;
}

.right_p{
    position: absolute;
    right: 0;
}

.login_page {
    background-color: #81a7bb;
}