<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title>Access Forbidden</title>
        <link rel="stylesheet" href="../static/css/errorStyle/404Style.css">
        <link rel="stylesheet" th:href="@{/css/errorStyle/404Style.css}" href="../static/css/errorStyle/404Style.css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/home_style.css}" href="../static/css/home_style.css">
    </head>

    <body>
        <div class="container">
            <div class="row text-light login_page">
                <div class="col-6 mt-2 ">
                    <a href="/bidList/list" role="button" class="btn btn-primary text-left">Home</a>
                </div>
                <div class="col-6 text-right">
                    Logged in : <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]]</b>
                    <form th:action="@{/logout}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Logout" role="button"/>
                    </form>
                </div>
            </div>
            <section class="page_404">
            <br><br><br><br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-10 col-sm-offset-1  text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center text-danger">Access Forbidden</h1>
                            </div>

                            <div class="content_box_404">
                                <h3 class="h2 text-info">You don't have access</h3>
                                <p>The page is forbidden</p>

                                <a class="btn btn-danger col-2" th:href="@{/bidList/list}"
                                   role="button">Go Back Home</a>
                            </div>
                        </div>

                    </div>
                </div>




            </section>
        </div>

    </body>
</html>