<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home_style.css}"
          href="../static/css/home_style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
</head>
<body>
<br>

<div class="container">
    <div class="row text-light div_position login_page">
        <div class="text-right p-2 right_p">
            <a class="btn btn-success" href="/login" role="button">Login</a>&nbsp;|&nbsp;
            <a class="btn btn-outline-dark" href="/user/list" role="button">User manage</a>
        </div>
    </div>

    <div class="text-center">
        <h2 class="m-3">Welcome to the app Poseidon !</h2>
    </div>
    <div class="home_bg"></div>

</div>
</body>
</html>