<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/home_style.css}"
          href="../static/css/home_style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
</head>
<body class="login_page">
    <div class="container">
        <div class="text-right p-2 right_p">
            <a href="/" role="button" class="btn btn-outline-danger btn-lg">Home</a>
        </div>
        <div class="panel panel-info">
            <div class="text-center m-4 text-break">
                <h3>Please login</h3>
            </div>
            <br>
            <br><br><br><br>
            <div class="text-center">
                <form th:action="@{/login}" method="post" class="form-horizontal" style="width: 100%">
                    <div class="form-control-lg">
                        <label class="font-weight-bold" for="username">Username :</label>
                        <div>
                            <input type="text" name="username" placeholder="Username" id="username"/>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-control-lg">
                        <label class="font-weight-bold" for="password">Password :</label>
                        <div>
                            <input type="password" name="password" placeholder="Password" id="password"/>
                        </div>
                    </div>
                    <br><br>
                    <div class="mt-2 form-group">
                        <input class="btn btn-primary btn-sm col-sm-1" type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>