<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Add Trade</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <h2>Add New Trade</h2>
            </div>

            <div class="row">
                <form action="#" th:action="@{/trade/validate}" th:object="${trade}"
                      method="post" class="form-horizontal" style="width: 100%">
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label">Account:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{account}"
                                   class="form-control mb-4 col-4" placeholder="Account" id="account">
                        </div>
                        <div class="col-sm-10">
                            <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{type}"
                                   class="form-control mb-4 col-4" placeholder="Type" id="type">
                        </div>
                        <div class="col-sm-10">
                            <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{buyQuantity}"
                           class="form-control mb-4 col-4" placeholder="Buy Quantity">
                    <input type="hidden" th:field="*{sellQuantity}"
                           class="form-control mb-4 col-4" placeholder="Sell Quantity">
                    <input type="hidden" th:field="*{buyPrice}"
                           class="form-control mb-4 col-4" placeholder="buy Price">
                    <input type="hidden" th:field="*{sellPrice}"
                           class="form-control mb-4 col-4" placeholder="Sell Price">
                    <input type="hidden" th:field="*{benchmark}"
                           class="form-control mb-4 col-4" placeholder="Benchmark">
                    <input type="hidden" th:field="*{security}"
                           class="form-control mb-4 col-4" placeholder="Security">
                    <input type="hidden" th:field="*{status}"
                           class="form-control mb-4 col-4" placeholder="Status">
                    <input type="hidden" th:field="*{trader}"
                           class="form-control mb-4 col-4" placeholder="Trader">
                    <input type="hidden" th:field="*{book}"
                           class="form-control mb-4 col-4" placeholder="Book">
                    <input type="hidden" th:field="*{creationName}"
                           class="form-control mb-4 col-4" placeholder="Creation Name">
                    <input type="hidden" th:field="*{dealName}"
                           class="form-control mb-4 col-4" placeholder="Deal Name">
                    <input type="hidden" th:field="*{dealType}"
                           class="form-control mb-4 col-4" placeholder="Deal Type">
                    <input type="hidden" th:field="*{sourceListId}"
                           class="form-control mb-4 col-4" placeholder="Source List Id">
                    <input type="hidden" th:field="*{side}"
                           class="form-control mb-4 col-4" placeholder="Side">

                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info col-2">Save</button>

                            <a class="btn btn-danger col-2" th:href="@{/trade/list}"
                               role="button"
                               th:onclick="if (!(confirm('Cancel ?'))) return false">
                                Cancel
                            </a>
                        </div>
                    </div>
                    <br><br><br><br>

                </form>
            </div>

        </div>
    </body>
</html>