<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Add BidList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="row">
        <h2 class="font-weight-bold text-primary">Add New Bid</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/bidList/validate}" th:object="${bidList}"
              method="post" class="form-horizontal" style="width: 100%">

            <div class="form-group">
                <label for="account" class="col-sm-2 control-label">Account:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{account}" id="account" placeholder="Account" class="col-4">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{type}" id="type" placeholder="Type" class="col-4">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="bidQuantity" class="col-sm-2 control-label">Bid Quantity:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{bidQuantity}" id="bidQuantity" placeholder="Bid Quantity" class="col-4">
                </div>
                <div class="col-sm-10 mt-2">
                    <p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
                </div>
            </div>

            <input type="hidden" th:field="*{askQuantity}"
                   class="form-control mb-4 col-4" placeholder="Ask Quantity">

            <input type="hidden" th:field="*{bid}"
                   class="form-control mb-4 col-4" placeholder="Bid">

            <input type="hidden" th:field="*{ask}"
                   class="form-control mb-4 col-4" placeholder="Ask">

            <input type="hidden" th:field="*{benchmark}"
                   class="form-control mb-4 col-4" placeholder="Benchmark">

            <input type="hidden" th:field="*{commentary}"
                   class="form-control mb-4 col-4" placeholder="Commentary">

            <input type="hidden" th:field="*{security}"
                   class="form-control mb-4 col-4" placeholder="Security">

            <input type="hidden" th:field="*{status}"
                   class="form-control mb-4 col-4" placeholder="Status">

            <input type="hidden" th:field="*{trader}"
                   class="form-control mb-4 col-4" placeholder="Trader">

            <input type="hidden" th:field="*{book}"
                   class="form-control mb-4 col-4" placeholder="Book">

            <input type="hidden" th:field="*{creationName}"
                   class="form-control mb-4 col-4" placeholder="Creation Name">

            <input type="hidden" th:field="*{dealName}"
                   class="form-control mb-4 col-4" placeholder="Deal Name">

            <input type="hidden" th:field="*{dealType}"
                   class="form-control mb-4 col-4" placeholder="Deal Type">

            <input type="hidden" th:field="*{sourceListId}"
                   class="form-control mb-4 col-4" placeholder="Source List Id">

            <input type="hidden" th:field="*{side}"
                   class="form-control mb-4 col-4" placeholder="Side">

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-info col-2">Save</button>

                    <a class="btn btn-danger col-2" th:href="@{/bidList/list}"
                       role="button"
                       th:onclick="if (!(confirm('Cancel ?'))) return false">
                        Cancel
                    </a>
                </div>
            </div>

            <br/><br/><br/><br/>

        </form>
    </div>

</div>
</body>
</html>