<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home BidList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/home_style.css}"
          href="../../static/css/home_style.css">
</head>
<body>
<div class="container">
    <br>
    <div class="row p-2 text-light login_page">
        <div class="col-6">
            <a class="btn btn-primary" href="/bidList/list" role="button">Bid List</a>&nbsp;|&nbsp;
            <a class="btn btn-primary"  href="/curvePoint/list" role="button">Curve Points</a>&nbsp;|&nbsp;
            <a class="btn btn-primary" href="/rating/list" role="button">Ratings</a>&nbsp;|&nbsp;
            <a class="btn btn-primary" href="/trade/list" role="button">Trade</a>&nbsp;|&nbsp;
            <a class="btn btn-primary" href="/ruleName/list" role="button">Rule</a>
        </div>

        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <a href="/bidList/add" class="btn btn-primary btn-lg">Add New</a>
        <table class="table table-bordered">
            <thead class="login_page">
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bidList: ${bidListList}">
                <td th:text="${bidList.bidListId}"></td>
                <td th:text="${bidList.account}"></td>
                <td th:text="${bidList.type}"></td>
                <td th:text="${bidList.bidQuantity}"></td>
                <td>
                    <a th:href="@{/bidList/update(id=${bidList.bidListId})}"
                       class="btn btn-info btn-sm">
                        Update
                    </a>
                    <a th:href="@{/bidList/delete(id=${bidList.bidListId})}"
                       class="btn btn-danger btn-sm"
                       th:onclick="if (!(confirm('Cancel ?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>