<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Resource not found</title>
    <link rel="stylesheet" href="../../static/css/errorStyle/404Style.css">
    <link rel="stylesheet" th:href="@{/css/errorStyle/404Style.css}" href="../../static/css/errorStyle/404Style.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>

<body>

    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center ">404</h1>
                        </div>

                        <div class="content_box_404">
                            <h3 class="h2">
                                404 Not Found
                            </h3>

                            <p>Not Found</p>

                            <a class="btn btn-info col-2" th:href="@{/bidList/list}" role="button">Home Page</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </section>

</body>
</html>